<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

</style>

<div class="message-content">
  <p>Hi, <strong>{{name}}</strong></p>

  <p>I've asked for recovery your password</p>
  <p><a href="{{link}}">Reset password</a></p>

</div>
